OPENAI_API_KEY=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
TWILIO_ACCOUNT_SID=ACb7c1750d3cce41aa248d38c2786e500b
TWILIO_AUTH_TOKEN=15a19cdfb95b00b3e82571aeebf4ae85
TWILIO_PHONE_NUMBER=+18884657356
USER_PHONE_NUMBER=+19787905454
